header {
    background: #BBBBBB;
    padding: 20px 0px;
}

.caixa {
    position: relative;
    width: 940px; /*Uma largura padrão que se usa na web, a maioria das boas resoluções é de 1260px de largura, quando se usa 940 está numa boa margem*/
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase; /*Tranformar texto em maiúsculo*/
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

main li {
    
}